@font-face {
    font-family: "Mr Eaves XL Mod OT";
    src: url("../fonts/FontsFree-Net-MrEavesXLModOT-Reg.ttf") format("truetype");
}

@font-face {
    font-family: "Mr Eaves XL Mod OT Bold";
    src: url("../fonts/FontsFree-Net-MrEavesXLModNarOT-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mrs Eaves OT";
    src: url("../fonts/MrsEavesOT-Roman.otf") format("opentype");
}